#container {
  
}

#header {
  text-align: center;
}

#content {
  
}

h3 {
  font-weight: 500;
}

#TopMovies {
  width: 45%;
  float: left;
  font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#ThingsLearned {
  width: 45%;
  float: right;
  font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#footer {
  
}



